/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap');

/* CSS custom properties  */
:root {
	--card-heading-color: #231d4f;
	--primary-bg-color: #f496d1;
	--icon-color: #5243c2a1;
	--card-bg-color: #3f87f5;
	--footer-bg-color: #0b0d17;
	--justify: justify;
}

body {
	font-family: 'Spectral', serif;
}

/* Generic styles */
.primary-bg-color {
	background-color: var(--primary-bg-color);
}

.icon-color {
	color: var(--icon-color);
}

.text-justify {
	text-align: var(--justify);
}

/* carousel customs css  */
.carousel-item:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.5;
	z-index: 1;
}

.carousel-caption {
	z-index: 2;
}

/* Card customs css */
.card-bg-color {
	background-color: var(--card-bg-color);
}

.card-heading-color {
	color: var(--card-heading-color);
}

.special-card {
	background-image: url(../assets/icons/watermark.svg) !important;
	background-repeat: no-repeat;
	background-position: right;
}

.tost-position {
	left: 85%;
}

/* Footer customs css */
.footer-bg-color {
	background-color: var(--footer-bg-color);
}

/* Carousel customs Media Queries  */

@media only screen and (max-width: 688px) {
	.carousel-caption h1 {
		font-size: 1.5rem !important;
		margin-top: 1.25rem;
	}
	.carousel-caption p {
		font-size: 0.813rem !important;
	}
	.carousel-caption a {
		margin-bottom: 1rem !important;
	}
}
