/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;700&display=swap');

/* CSS custom properties  */
:root {
	--primary-bg-color: #f496d1;
	--icon-color: #5243c2a1;
	--card-bg-color: #3f87f5;
	--justify: justify;
}

body {
	font-family: 'Spectral', serif;
}

/* Generic styles */
.primary-bg-color {
	background-color: #f496d1;
}

.icon-color {
	color: var(--icon-color);
}
.secondary-bg-color {
	background-color: #f496d1;
	opacity: 0.2;
}

.card-bg-color {
	background-color: var(--card-bg-color);
}

.text-justify {
	text-align: var(--justify);
}

.card-heading-color {
	color: #231d4f;
}

/* carousel customs css  */
.carousel-item:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.3;
	z-index: 1;
}

.carousel-caption {
	z-index: 2;
}

/* gallery customs styles */
.border-bottom {
	width: 43% !important ;
}

/* Card customs styles */
.tost-position {
	left: 85%;
}

/* Carousel customs Media Queries  */

@media only screen and (max-width: 688px) {
	.carousel-caption h1 {
		font-size: 1.5rem !important;
		margin-top: 1.25rem;
	}
	.carousel-caption p {
		font-size: 0.813rem !important;
	}
	.carousel-caption a {
		margin-bottom: 1rem !important;
	}

	.gallery-title {
		font-size: 1.688rem;
	}
	.border-bottom {
		width: 98% !important;
	}
}

/*------------------------------------------------*/
@media screen and (min-width: 688px) and (max-width: 992px) {
	.border-bottom {
		width: 68% !important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1312px) {
	.border-bottom {
		width: 56% !important;
	}
}
